<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<servlet>
    	<servlet-name>ServletConfigurator</servlet-name>
    	<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    	<init-param>
      		<param-name>propertyFile</param-name>
      		<param-value>WEB-INF/classes/app/res/proxool.properties</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
 <!-- 去空白 -->
	<servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
        	<param-name>trimSpaces</param-name>
        	<param-value>true</param-value>
  		</init-param>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>  
    </servlet>
    
    <!-- 設定 HSTS 20230927 May -->
	<filter>
	  <filter-name>httpHeaderSecurity</filter-name>
	  <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
	  <async-supported>true</async-supported>
	  <init-param>
	    <param-name>hstsEnabled</param-name>
	    <param-value>true</param-value>
	  </init-param>
	  <init-param>
	    <param-name>hstsMaxAgeSeconds</param-name>
	    <param-value>31536000</param-value>
	  </init-param>
	  <init-param>
	    <param-name>hstsIncludeSubDomains</param-name>
	    <param-value>true</param-value>
	  </init-param>
	  <init-param>
		 <param-name>antiClickJackingEnabled</param-name>
		 <param-value>true</param-value>
	  </init-param>
	  <init-param>
		 <param-name>antiClickJackingOption</param-name>
		 <param-value>SAMEORIGIN</param-value>
	  </init-param>
	</filter>
	
	<!-- The mapping for the HTTP header security Filter -->
	<filter-mapping>
	  <filter-name>httpHeaderSecurity</filter-name>
	  <url-pattern>/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
  
  	<session-config>
    	<session-timeout>
            30
    	</session-timeout>
  	</session-config>
  	<welcome-file-list>
    	<welcome-file>
            index.jsp
        </welcome-file>
  	</welcome-file-list>
  	
  	<error-page>
	    <error-code>500</error-code>
	    <location>/404.jsp</location>
	</error-page>
	<error-page>
	    <error-code>404</error-code>
	    <location>/404.jsp</location>
	</error-page>
<!--
 	過濾器使用 Start
	不使用時就不用打開，要使用時打開後，要註意是否有 redirect_record 的資料庫以及beans否則網站會直接500 
    <filter>
        <filter-name>performance</filter-name>
        <filter-class>com.genesis.filter.urlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>performance</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->
</web-app>