body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #fff;
}
hr {
	margin-top: 6px;
	margin-bottom: 6px;
	height:1px;
	border:none;
}
td {
	font-size: 12px;
	color: #333333;
	line-height: 15px; 
    font-family: "Arial", "Helvetica", "sans-serif"; 
}
.button {
	background-color: #DDDDDD;
	border: 1px solid #333333;
	font-size: 12px;
	color: #333333;
}
input {
	font-size: 12px;
}
a:link {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #066095;
	text-decoration: underline;
}
.bk-1 {
	background-color: #FFFFFF;
}
.bk-1w {
	background-color: #D1D1D1;
}
.word-wbk {
	font-size: 12px;
	color: #FFFFFF;
}
.bk-2r {
	background-color: #FFFFFF;
}
.word-g {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #3C7F3B;
}


#test img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity:0.5;
	background-image:url(../images/mis_login_skin.gif);
	background-repeat:no-repeat;
}


.side{
filter:alpha(opacity=80);
background-image:url(../images/mis_login_skin.gif);
background-repeat:no-repeat;
background-repeat: no-repeat;
background-size: 330px 270px;
}
.system_bk-2bk {
	background-color: #919191;  /*系統基本設定、畫面中tadle的灰色底色與其他單元共用*/
}
.system_bk-2p {
	background-color: #FFFFFF;  /*系統基本設定、畫面中tadle的底色白色底色與其他單元共用*/
}
.system_table-2-1 {
	background-color: #EFF7FF;  /*系統基本設定、畫面中tadle的內容顏色*/
}
.system_bk-2b {
	background-color: #52A0EB;  /*系統基本設定、左邊選單大選項底色底色*/
}
.system_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0D66B2;
	line-height: 18px;  /*系統基本設定、畫面中tadle上標題顏色、字體白色粗體*/
}

.system_bk-2 {
	background-color: #CDE7FF; /*系統基本設定、左邊選單底色*/
}
.system_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #002685;
	line-height: 28px; /*系統基本設定、畫面中tadle的大標字體 20級 綠色*/
}
.system_td{
	font-size: 12px;
	font-weight: bold;
	color: #002685;
}
.human_table-2-1 {
	background-color: #FFEED4;  /*網路基本設定、畫面中tadle的內容顏色*/
}
.human_bk-2b {
	background-color: #FF8400;  /*網路基本設定、左邊選單大選項底色底色*/
}
.human_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF7E00;  
	line-height: normal;  /*網路基本設定、畫面中tadle上標題顏色、字體白色粗體*/
}

.human_bk-2 {
	background-color: #FCE2AB; /*網路基本設定、左邊選單底色*/
}
.human_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #663200;
	line-height: 28px; /*網路基本設定、畫面中tadle的大標字體 20級 咖啡色*/
}
.market_table-2-1 {
	background-color: #FFE6DD;  /*行銷管理作業、畫面中tadle的內容顏色*/
}
.market_bk-2b {
	background-color: #E33500;  /*行銷管理作業、左邊選單大選項底色底色*/
}
.market_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #C9310E;  
	line-height: 18px;  /*行銷管理作業、畫面中tadle上標題顏色、字體白色粗體*/
}

.market_bk-2 {
	background-color: #FFC0BB; /*行銷管理作業、左邊選單底色*/
}
.market_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #991D00;
	line-height: 28px; /*行銷管理作業、畫面中tadle的大標字體 20級 咖啡色*/
}
.basic_table-2-1 {
	background-color: #F9E8FC;  /*基本資料作業、畫面中tadle的內容顏色*/
}
.basic_bk-2b {
	background-color: #AD55C0;  /*基本資料作業、左邊選單大選項底色底色*/
}
.basic_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #8F3BAE;  
	line-height: 18px;  /*基本資料作業、畫面中tadle上標題顏色、字體白色粗體*/
}

.basic_bk-2 {
	background-color: #EBCFEF; /*基本資料作業、左邊選單底色*/
}
.basic_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #680C88;
	line-height: 28px; /*基本資料作業、畫面中tadle的大標字體 20級 咖啡色*/
}
.information_table-2-1 {
	background-color: #E8F7CC;  /*銷售管理作業、畫面中tadle的內容顏色*/
}
.information_bk-2b {
	background-color: #49A314;  /*銷售管理作業、左邊選單大選項底色底色*/
}
.information_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #419128;  
	line-height: 18px;  /*銷售管理作業、畫面中tadle上標題顏色、字體白色粗體*/
}

.information_bk-2 {
	background-color: #DDF4B2; /*銷售管理作業、左邊選單底色*/
}
.information_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #005D0B;
	line-height: 28px; /*銷售管理作業、畫面中tadle的大標字體 20級 咖啡色*/
}
.admini_table-2-1 {
	background-color: #E3F5FF;  /*其他設定、畫面中tadle的內容顏色*/
}
.admini_bk-2b {
	background-color: #3E8EB7;  /*其他設定、左邊選單大選項底色底色*/
}
.admini_title-1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #257A9E;  
	line-height: 18px;  /*其他設定、畫面中tadle上標題顏色、字體白色粗體*/
}

.admini_bk-2 {
	background-color: #D1EBF9; /*其他設定、左邊選單底色*/
}
.admini_bigword {
	font-size: 17px;
	font-weight: bold;
	color: #0C4563;
	line-height: 28px; /*其他設定、畫面中tadle的大標字體 20級 咖啡色*/
}

td.leftcol	{

	background-color:#333333;

}

.web_table-2-1 {
	background-color: #FFEED4;  /*網路基本設定、畫面中tadle的內容顏色*/
}
.web_bk-2b {
	background-color: #FF8400;  /*網路基本設定、左邊選單大選項底色底色*/
}
.web_title-1 {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF7E00;  
	line-height: 20px;  /*網路基本設定、畫面中tadle上標題顏色、字體白色粗體*/
}

.web_bk-2 {
	background-color: #FFE2B6; /*網路基本設定、左邊選單底色*/
}
.web_bigword {
	font-size: 20px;
	font-weight: bold;
	color: #663200;
	line-height: 28px; /*網路基本設定、畫面中tadle的大標字體 20級 咖啡色*/
}